<div class="post_content">
    <h1 class="title"><%= @post.title %></h1>

    <p class="date">
        Submitted <%= time_ago_in_words(@post.created_at) %> ago
    </p>

    <p class="body"><%= @post.body %></p>
</div>

<!-----------------------COMMENTS------------------------->
<div class="comments">
    <!--  counts how many comments there are -->
    <h2><%= @post.comments.count %> Comments </h2>
    <!-- renders _comment.html.erb file -->
    <%= render @post.comments %>
    <h3> Talk Your Sh^t ☟ </h3>
    <!-- renders _form.html.erb file -->
    <%= render "comments/form" %>
</div>

<!------------------------BUTTONS------------------------->

    <button type="button" name="button">
        <%= link_to "Back < Posts", posts_path %>
    </button>

    <button type="button" name="button">
        <%= link_to "Edit Post", edit_post_path %>
    </button>

    <button type="button" name="button">
        <%= link_to 'Delete Post', post_path(@post.comments), method: :delete, data: { confirm: 'Are you sure?' } %>
    </button>
